*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boldtxt{
    font-weight: 900;
}
/*basic function bitch*/
body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: none;
}

/*containter-header*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: blueviolet;
    position: absolute;
    width: 100%;
}

.logo a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 30px;
    color: #ffffff;
}