*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*basic function bitch*/
body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

/*containter-header*/
.con-head{

}