*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boldtxt{
    font-weight: 900;
}
/*basic function bitch*/
body{
    /**background-color: black;**/
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: none;
}

/*containter-header*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    width: 100%;
}

.logo a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 30px;
    color: #ffffff;
}

.bungkusan_1{
   max-width: 1200px;
   margin: 0 auto;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline::after {
        content: '';
        width: 2px;
        background-color: white;
        height: 50px;
}